.colorHr {
    border: 0; 
    height: 0; 
    border-top: 4px double black;
    text-align:center; 
    margin: 0px;

    &:after {position: relative; 
        top: -22px; 
        content:"\25cf\25cf\25cf"; 
        font-size: 34px;
        line-height: 34px; 
        color: black;
    }
}