$colores: (
    BgColor: #FFF4E4,
    headerFooterBgColor: #DCD6F7
);

.footerFix {
    background-color: map-get($colores, headerFooterBgColor);
}

.body {
    background-color: map-get($map: $colores, $key: BgColor);
}

.logoNav {
    background-color: map-get($map: $colores, $key: headerFooterBgColor);
}